body {
    margin: 0vw;
    position: fixed;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.sqaures {
    position: relative;
    width: 50vw;
    height: 50vh;
}

#red-box {
    background-color: red;
}

#green-box {
    background-color: green;
}

#yellow-box {
    background-color: yellow;
}

#pink-box {
    background-color: rgb(247, 56, 222);
}

.corner-squares {
    width: 6.802721088435374vw;
    height: 6.802721088435374vw;
    background-color: rgb(255, 255, 255);
}

#left-top-corner {
    position: absolute;
    top: 0vw;
    left: 0vw;
    border-bottom-right-radius: 100%;
}

#right-top-corner {
    position: absolute;
    top: 0vw;
    right: 0vw;
    border-bottom-left-radius: 100%;
}

#left-bottom-corner {
    position: absolute;
    bottom: 0vw;
    left: 0vw;
    border-top-right-radius: 100%;
}

#right-bottom-corner {
    position: absolute;
    bottom: 0vw;
    right: 0vw;
    border-top-left-radius: 100%;
}

.mid-square {
    width: 4.081632653061225vw;
    height: 4.081632653061225vw;
    background-color: white;
}

#left-top-mid-square {
    position: absolute;
    top: 0vw;
    right: 0vw;
    border-bottom-left-radius: 100%;
}

#right-top-mid-square {
    position: absolute;
    top: 0vw;
    left: 0vw;
    border-bottom-right-radius: 100%;
}

#left-bottom-mid-square {
    position: absolute;
    bottom: 0vw;
    right: 0vw;
    border-top-left-radius: 100%;
}

#right-bottom-mid-square {
    position: absolute;
    bottom: 0vw;
    left: 0vw;
    border-top-right-radius: 100%;
}

.mid-circle {
    width: 10.204081632653061vw;
    height: 10.204081632653061vw;
    background-color: white;
    border-radius: 50%;
}

#left-top-mid-circle {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

.mid-circle-square {
    width: 4.081632653061225vw;
    height: 4.081632653061225vw;
    background-color: red;
}

#left-top-mid-circle-square {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

#right-top-mid-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#right-top-mid-circle-square {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#left-bottom-mid-circle {
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
}

#left-bottom-mid-circle-square {
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
}

#right-bottom-mid-circle {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
}

#right-bottom-mid-circle-square {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
}

.absolute-mid-square {
    position: absolute;
    width: 13.605442176870747vw;
    height: 13.605442176870747vw;
    background-color: rgb(255, 255, 255);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.absolute-mid-circle {
    position: relative;
    width: 6.802721088435374vw;
    height:6.802721088435374vw;
    background-color: rgb(255, 0, 0);
    top: 50%;
    left: 50%;
    border-radius: 100%;
    transform: translate(-50%, -50%);
}